{% extends "admin/change_list.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}
    <style>
        .upload-students-btn {
            background-color: #198754 !important;
            border-color: #198754 !important;
            color: white !important;
            text-decoration: none !important;
        }
    </style>
{% endblock %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="/admin/gradebook_app/student/upload_students/"
           class="upload-students-btn">{% trans "Upload students" %}</a>
    </li>
{% endblock %}
