{% extends 'gradebook_app/base.html' %}

{% block content %}
    <h2>Enrolment List</h2>
    {% if not request.session.has_classes %}
        <div class="alert alert-info" role="alert">
            You have not been assigned to any classes.
        </div>
    {% else %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <table class="table">
            <thead>
            <tr>
                <th>Student</th>
                <th>Class</th>
                <th>Grade</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for enrolment in object_list %}
                <tr>
                    <td>{{ enrolment.enrolled_student }}</td>
                    <td>{{ enrolment.enrolled_class }}</td>
                    <td>{{ enrolment.grade }}</td>
                    <td>
                        <a href="{% url 'update_grade' enrolment.pk %}" class="btn btn-primary btn-sm">
                            <i class="bi bi-pencil" >Enter Grade</i>
                        </a>
                        <a href="{% url 'send_email' enrolment.pk %}" class="btn btn-success btn-sm">
                            <i class="bi bi-envelope"></i> Email
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
