{% extends 'gradebook_app/base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="jumbotron">
                    <h1 class="display-20">Welcome to the Gradebook app</h1>
                    <hr class="my-4">
                    <p class="lead">Web Application for management of grades and marks of students for a
                        School/University.
                    <p>
                    <p class="lead"> Implemented using Django framework along with PostgreSQL database.
                    </p>
                    <p class="lead"> Logged in Lecturer can go to the Lecturer Section to mark assigned Student.
                    </p>
                    <p class="lead"> Logged in Student can go to the Student Section to view Marks.
                    </p>
                    <p class="lead"> More CRUD functions are available for Admins (user: admin, pwd: test1234)
                    </p>
                    <a class="btn btn-primary btn-lg" href="https://github.com/raulfanc/gradebook_app" role="button">Learn more</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
